body {
    height: 100%;
}

#frustum-view {
    position: absolute;
    background: gray;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#camera-view {
    position: fixed;
    background: white;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    height: 200px;
    width: 300px;
    border: 1px solid black;
}

#control-panel {
    position: fixed;
    z-index: 2;
    width: 320px;
    opacity: 0.85;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

#control-panel .content {
    padding: 10px 15px 10px 15px;
    font-size: 0.9em;
    height: 110px;
}

#control-panel .content .region {
}

#control-panel .slider {
    height: 6px;
    margin: 5px 0 5px 0;
}

#control-panel .content .amount {
    border:0; 
    color:#f6931f; 
    font-weight:bold;
    background-color: transparent;
}

#control-panel .ui-slider-horizontal .ui-slider-handle {
    height: 14px;
    width: 11px;
}

#camtrans-slider-panel {
    position: fixed;
    z-index: 3;
    height: 80px;
    width: 600px;
    opacity: 0.85;
    bottom: 10px;
    padding: 0 15px 0 15px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

#camtrans-slider-panel .slider {
    height: 10px;
}

#camtrans-slider-panel .ui-slider-horizontal .ui-slider-handle {
    height: 18px;
    width: 11px;
}

#camtrans-slider-panel p {
    color:#f6931f;
    font-family: Verdana, Arial, sans-serif; 
}


