body {
    height: 100%;
}

#frustum-view {
    position: absolute;
    background: gray;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#camera-view {
    position: fixed;
    background: white;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    height: 200px;
    width: 300px;
    border: 1px solid black;
}

#control-panel {
    position: fixed;
    z-index: 2;
    width: 300px;
    opacity: 0.7;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.ui-accordion-header {
 //   background: transparent;
    
}

